src/somalier
src/somalierpkg/rel
src/somalierpkg/findsites
src/somalierpkg/avx512
src/somalierpkg/avx256
src/somalierpkg/relate
*.json
nimcache
*.bam
*.cram
*.bai
*.crai
profile_results.txt
t.*.bed.gz
t.*.bed.gz.csi
