name: Docker Image CI

on: [push]

jobs:

  build:
 
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v1
    - name: docker-build
      run: cd docker && docker build  .  --tag brentp/somalier:$(date +%s)
